# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
tf_env/

# Django
*.log
*.pot
db.sqlite3
db.sqlite3-journal

# Media & Static
media/
staticfiles/

# =========================
# React / Vite
# =========================
node_modules/
dist/
build/

# =========================
# Environment variables
# =========================
.env

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# ML Models (VERY IMPORTANT)
# =========================
*.h5
*.hdf5
*.pkl
*.pt

# =========================
# Dataset (VERY IMPORTANT)
# =========================
dataset/

# =========================
# Cache / temp
# =========================
*.cache
*.tmp

# =========================
# Migrations (optional)
# =========================
# */migrations/*
# !*/migrations/__init__.py